@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1");

:root {
/* Color styles */
--primary: rgba(244, 140, 37, 1);
--primary-bg: rgba(244, 140, 37, 0.10000000149011612);
--link: rgba(230, 122, 26, 1);
--secondary: rgba(72, 176, 154, 1);
--secondary-bg: rgba(72, 176, 154, 0.10000000149011612);
--text-black: rgba(44, 44, 44, 1);
--text-gray: rgba(107, 107, 107, 1);
--text-light-gray: rgba(184, 184, 184, 1);
--bg-color: rgba(248, 249, 250, 1);
--white: rgba(255, 255, 255, 1);
--solid: rgba(235, 235, 235, 1);
--dark--primary: rgba(255, 155, 61, 1);
--dark---link: rgba(255, 134, 27, 1);
--dark--primary-bg: rgba(255, 155, 61, 0.20000000298023224);
--dark--secondary: rgba(91, 196, 168, 1);
--dark--secondary-bg: rgba(91, 196, 168, 0.20000000298023224);
--dark--text-black: rgba(229, 229, 229, 1);
--dark--text-gray: rgba(160, 160, 160, 1);
--dark--bg: rgba(18, 18, 18, 1);
--dark--scd-bg: rgba(44, 44, 44, 1);
--dark--elevated-bg: rgba(69, 69, 69, 1);

/* Text-size styles */
--h1: 32px;
--h2: 24px;
--h3: 18px;
--body1: 16px;
--body1_700: 16px;
--body2: 14px;
--desc: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--white);
  color: var(--text-black);
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}
