.viewport {
  min-height: 100vh;
  background: var(--bg-color);
}
.section {
  padding-bottom: 91px;
}

.page {
  position: relative;
  width: min(100%, 375px);
  min-height: 100vh;
  margin: 0 auto;
  background: var(--bg-color);
  color: var(--text-black);
  font-family: "Pretendard", "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
}

.header {
  position: relative;
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  background: var(--white);
  padding: 0 16px;
}

.headerIconBack {
  display: inline-flex;
  align-items: center;
  background-image: url("/images/back.svg");
  background-position: left center;
  background-size: 20px 19px;
  width: 20px;
  height: 19px;
}

.logoHeading {
  margin: 0;
  display: flex;
  align-items: center;
}

.headerButton {
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  padding: 0;

}

.content {
  padding: 24px 16px 88px;
}

.buttonBg {
  background: transparent;
  border: 0;
  outline: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.bookmarkButton {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-image: url("/images/bookmark.svg");
  filter: invert(62%) sepia(57%) saturate(1509%) hue-rotate(343deg) brightness(99%) contrast(94%);
  background-size: 16px 20px;
  background-position: center center;
  background-repeat: no-repeat;

}

.hidden {
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.detailTitle {
  font-size: var(--h2);
  font-weight: 700;
  line-height: 1.3;
  color: var(--text-black);
}
.detailBody1 {
  color: var(--text-gray);
  font-size: var(--body1);
  line-height: 1.6;
}
.detailBody2 {
  color: var(--text-gray);
  font-size: var(--body2);
  line-height: 1.6;
}
.detailDesc {
  font-size: var(--desc);
  color: var(--text-gray);
}
.detailBold {
  font-weight: 700;
}

.detailContainer {
  padding: 27px 16px;
}

.detailTumbnail {
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 320px;
  background: #ebebeb;
}

.detailMenu {
  padding: 27px 16px;
  display: flex;
  flex-flow: column wrap;
  gap: 12px;
}

.detailMenuName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shareIcon {
  width: 40px;
  height: 40px;
  border: solid 1px var(--solid);
  background: var(--white);
  border-radius: 50px;
  background-image: url("/images/share.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
}

.detailQuick ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 27px;
}
.detailQuick ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailQuick ul li figure {
  width: 44px;
  height: 44px;
  border-radius: 44px;
  background: var(--primary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.detailIngredient {
  margin-top: 16px;
}

.detailIngredient ul {
  display: flex;
  flex-direction: column;
  gap: 12px;  
}
.detailIngredient ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 44px;
  padding: 0 16px;
  background: var(--white);
  border-radius: 8px;
  border: solid 1px var(--solid);
}

.detailStep {
  margin-top: 16px;
}
.detailStep ul {
  display: flex;
  flex-direction: column;
  align-items: center;
    gap: 27px;
}
.detailStep ul li {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.stepNum {
  width: 27px;
  height: 27px;
  color: var(--white);
  background: var(--primary);
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.stepBox {
  gap: 4px;
}
.stepBox .detailBold {
  color: var(--text-black);
  line-height: 27px;
}
.setpImage {
  object-fit: cover;
  aspect-ratio: 16 / 9;
  background-color: #ebebeb;
  margin-top: 16px;
  border-radius: 8px;
  overflow: hidden;
}

.commentsWrap {
  background-color: var(--white);
  border-radius: 8px;
  border: solid 1px var(--solid);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 16px;
}
.commentsProfile {
  width: 40px;
  height: 40px;
}
.commentsBox {
  flex: 1 0 1;
  display: flex;
  flex-direction: column;
}
.commentsUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.commentsId {
  color: var(--text-black);
  font-weight: 700;
}
.commentsMy button {
  background: transparent;
  border: 0;
  font-size: var(--body2);
  color: var(--text-gray);
  font-weight: 500;
  cursor: pointer;
}
.commentsContext {
  width: 100%;
  color: var(--text-gray);
  line-height: 22px;
  min-height: 54px;
}
.commentsWrite {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  border: none;
  margin-top: 12px;
  background: var(--primary);
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}